.bg-img1 {
  background-color: #74992e;
  background-size: cover;
  background-image: url(./anh111.jpg);
}

.bg-img2 {
  background-color: #74992e;
  background-size: cover;
  background-image: url(./Anh222222.jpg);
}

.bg-img3 {
  background-color: #74992e;
  background-size: cover;
  background-image: url(./anh33333.jpg);
}
